vit_b_16_caltech101.pth
/__pycache__
/data
/processed
best_vit_b_16_mnist.pth
/testdata
testdata.rar
CNN_caltech101.pth
CNN_caltech101-e40.pth
CNN_caltech101-noAugment.pth
myTransfmv2_small -20e.pth
myTransfmv2_small.pth
trfm_mnist.pth
vit_b_16-c867db91.pth
vit_b_16_caltech101_none_train.pth
vit_b_16_caltech101_test.pth
